<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pedidos de Venda Emitidos e Rentabilidade</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Pedidos de Venda Emitidos e Rentabilidade</h1>
<table class="table table-sm table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Número do pedido/Data de Emissão<br/>Cliente</th>
        <th>Observações</th>
        <th>Cond Pgto</th>
        <th>Vr Tot Prod</th>
        <th>Vr Acresc<br/>Vr Descont</th>
        <th>Vr Tot Venda</th>
        <th>Vr Tot Custo<br/>Margem%</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="relatorio : ${relatorios}">
        <td th:text="${relatorio.descricao}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>